# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.iso
*.psd
*.pdf
*.c4d
*.abq
*.odb
*.avi

*.zip

Abaqus/hit/result_data/*.*
Abaqus/hitter/result/*.*
Abaqus/small_project/result/*
Abaqus/stick/result/*


